body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

nav {

    color: #f0f0f0;
    padding: 10px;
    text-align: center;
}

header {
    background-color: #3c3c3c;
    color: #f0f0f0;
    padding: 10px;
    text-align: center;
}

footer {
    background-color: #3c3c3c;
    color: #f0f0f0;
    text-align: center;
    padding: 10px;
    position: relative;
    width: 100%;
}

h1, h2, h3 {
    color: #333;
}

a {
    color: #007BFF;
    text-decoration: none;
}

div {
    cursor: pointer;
    margin: 10px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}

header h1 {
    color: #FFFFFF; /* Cambiado a blanco para mejorar la visibilidad */
}
