body {
    background-image: url(../IMG/fondoProfe.jpg);
}

.collapsible-content{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.collapsible-header{
    cursor: pointer;
}

.collapsible-section.open .collapsible-content{
    max-height: 1000px;
}

.asignarTarea input, .asignarTarea select {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    margin-top: 5px;
}

input[type="date"], select {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    color: #333;
    padding: 5px;
    border-radius: 5px;
}




